@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 768px) and (max-width: 1024px) {
    .banner-height {
      height: 300px; 
      width: 100vw;
    }
  } 
  @media (max-width: 480px) {
    .banner-height {
      height: 200px; 
    }
    .maindiv{
      flex-direction: column;
    }
}